@import "vars";

.header__container {    
    .button__create {
     background-color: rgb(212, 229, 255);
     color: rgb(23, 23, 204);
     text-decoration: underline;
     text-decoration-color: rgb(0, 0, 94);
     cursor: pointer;
     
    }

}

.aside-menu__container {
   
}

.main-principal__container {
   
} 

.aside-right-principal__container {
    

}

.aside-left-post__container {

}

.main-post__container {

}

.side-right-post__container {
        
}

.footer__container {
     
}